/*Developer Tools*/

.pinkbox{
	border: solid;
	border-color: pink;
}

.redbox{
	border: solid;
	border-color: red;
}

.bluebox{
	border: solid;
	border-color: blue;
}

.blackbox{
	border: solid;
	border-color: black;
	width: 50%;
}

.purplebox{
	border: solid;
	border-color: purple;
}

/*Universals*/
a {
	color: white;

}

.title{
	color: hsl(192, 100%, 9%);
	/*Headings with weight 700*/
	font-family: 'Poppins', sans-serif;
	font-size: 2em;

}

.content400{
	font-family:'Open+Sans', sans-serif;
	color: hsl(192, 100%, 9%);
	color: #00252E;
	font-weight: 400; /*or 600, or 700*/
	/*font-family: 'Poppins', sans-serif;*/
	font-size: 1em;
	padding-left: 45px;
	padding-right: 45px;
}

.content401{
	font-family:'Open+Sans', sans-serif;
	color: hsl(192, 100%, 9%);
	color: white;
	font-weight: 400; /*or 600, or 700*/
	/*font-family: 'Poppins', sans-serif;*/
	font-size: 1em;
	padding-left: 0px;
	padding-right: 45px;
}

.spacer50{
	padding-bottom: 50px;
}

.spacer100{
	padding-bottom: 100px;
}

.spacer200{
	padding-bottom: 200px;
}

.spacer201{
	padding-bottom: 200px;
}

.content700{
	font-family:'Open+Sans', sans-serif;
	color: hsl(192, 100%, 9%);
	color: #00252E;
	font-weight: 700;
	font-size: 25vw;
}

.white{
	color: white;
}

.center{
	text-align: center;
}


/*Repeated Elements*/

.button {
	background-color: white;
    border: solid;
    border-radius: 40px;
    color: hsl(322, 100%, 66%);

    padding: 20px;
	margin: 4px 2px;

    text-align: center;
    text-decoration: none;
    display: inline-block;

    font-size: 16px;
    
    height: 30px;
    width: auto;
    line-height: 0px;
}

.buttonpink{
	color: white;
	background-color: hsl(322, 100%, 66%);
	width: 300px;
	height: 100px;
	border-radius: 80px;
	border: none;
	font-size: 1.5em;
}

.bgwave{
	background-color: #F6FBFF;
	display:flex;
	flex-direction: column;
}

.infographjustify{
	display: flex;
	justify-content: flex-start;
	padding-left: 60px;
}

.infographimg{
	height: 60px;
	width: 60px;
	/*padding-left: 180px;*/
}

.infotext{
	font-family:'Open+Sans', sans-serif;
	font-size: 1.5em;
	color: grey;
}

.blockimg{
 	display: block;
 	width: 100%;
}

.contacticons{
	display: flex;
	align-content: row;
}

.socialicons{
	display: flex;
	align-content: row;
	justify-content: space-between;
	width: 60%;
	font-size: 3em;
	color:white;
}

.left45{
	padding-left: 45px;
}

.left25{
	padding-left: 25px;
}


/*Images*/

#toplogo{
	height: 30px;
	width: auto;
}

#screenmockups{
	height: auto;
	width: 300px;
}

#growtogether{
	height: auto;
	width: 300px;
}

#flowingconversation{
	height: auto;
	width: 300px;
}

#yourusers {
	height: auto;
	width: 300px;
}

#logow{
	height: 30px;
	width: auto;
}

#phoneicon{
 	width: 45px;
 	height: 45px;
}

#emailicon{
	width: 45px;
 	height: 45px;
}


/*Specific Id's*/

#infograph{
	display: flex;
	flex-direction: column;
}

#topnav{
	display: flex;
	justify-content: space-between;
}

#bluebacker{
	background-color: hsl(192, 100%, 9%);
	width: 100%;
}

#footer{
	display: flex;
	flex-direction:  column;
}

#subelement {
	padding-left: 45px;
	padding-bottom: 50px;
}

#subscribe{
	padding-left: 0px;
}

#whitebar{
	width: 300px;
	height: 50px;
	background-color: white;
	border-radius: 15px;
	font-size: 4em;
}

#whitebardiv{
	padding-bottom: 50px;
	text-align: center;
	padding-left: 150px;
}

#subscribebtn {
	color: white;
	background-color: hsl(322, 100%, 66%);
	width: 100px;
	height: 50px;
	border-radius: 20px;
	border: none;
	font-size: 1em;	
}

#newslettertext{
	font-family:'Open+Sans', sans-serif;
	color: hsl(192, 100%, 9%);
	color: white;
	font-weight: 400; /*or 600, or 700*/
	/*font-family: 'Poppins', sans-serif;*/
	font-size: 2vw;
}

#credits{
	color: white;
	font-size: .5em;
}
/*max width means less than or equal to amount*/
/*min-width means greater than or equal to amount*/
@media only screen and (min-width: 724px) {

/*Universals*/
br {
	display: none;
}

.title{
	color: hsl(192, 100%, 9%);
	/*Headings with weight 700*/
	font-family: 'Poppins', sans-serif;
	font-size: 3em;

}

.content400{
	font-family:'Open+Sans', sans-serif;
	color: hsl(192, 100%, 9%);
	color: #00252E;
	font-weight: 400; /*or 600, or 700*/
	/*font-family: 'Poppins', sans-serif;*/
	font-size: 2em;
	width: 50%;
/*	padding-left: 45px;
	padding-right: 45px;*/
}

.content401{
	font-family:'Open+Sans', sans-serif;
	color: hsl(192, 100%, 9%);
	color: white;
	font-weight: 400; /*or 600, or 700*/
	/*font-family: 'Poppins', sans-serif;*/
	font-size: 1em;
	padding-left: 0px;
	padding-right: 0px;
	width: 50%;
}

.spacer50{
	padding-bottom: 25px;
}

.spacer100{
	padding-bottom: 50px;
}

.spacer200{
	padding-bottom: 100px;
}

.spacer201{
	padding-bottom: 400px;
}

.content700{
	font-family:'Open+Sans', sans-serif;
	color: hsl(192, 100%, 9%);
	color: #00252E;
	font-weight: 700;
	font-size: 5vw;
}

.white{
	color: white;
}

.center{
	text-align: center;
}

.centerflex {
	display: flex;
	justify-content: center;
}

.spacearound {
	display: flex;
	justify-content: space-around;
}

/*Repeated Elements*/

.button {
	background-color: white;
    border: solid;
    border-radius: 40px;
    color: hsl(322, 100%, 66%);
    padding: 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    width: 200px;
}

.buttonpink{
	color: white;
	background-color: hsl(322, 100%, 66%);
	width: 400px;
	height: 50px;
	border-radius: 80px;
	border: none;
	font-size: 1.5em;
}

.bgwave{
	background-color: #F6FBFF;
	display: flex;
	flex-direction: row-reverse;
	align-items: center;
}

.infographjustify{
	display: flex;
	justify-content: flex-start;
	padding-left: 0px;
}

.infographimg{
	height: 50px;
	width: 50px;
	padding-left: 0px;
}

.infotext{
	font-family:'Open+Sans', sans-serif;
	font-size: 2em;
	color: grey;
}

.blockimg{
 	display: block;
 	width: 100%;
}

.contacticons{
	display: flex;
	align-content: row;
	font-size: 2em;
}

.socialicons{
	/*display: flex;
	align-content: row;
	justify-content: space-between;
	width: 40%;
	font-size: 4em;
	color:white;*/
	display: flex;
	align-content: row;
	font-size: 4em;
}

.left45{
	padding-left: 45px;
}

.left25{
	padding-left: 25px;
}

.alitcenter{
	display: flex;
	align-items: center;
}


/*Images*/

#toplogo{
	height: 70px;
	width: 350px;
}

#screenmockups{
	width: 50%;
	height: auto;
}

#growtogether{
	height: 500px;
	width: auto;
	padding-right: 200px;
}

#flowingconversation{
	height: 500px;
	width: auto;
	padding-left: 200px;
}

#yourusers {
	height: 500px;
	width: auto;
	padding-right: 200px;
}

#logow{
	width: ;
	height: ;
}


/*Specific Id's*/

#infograph{
	display: flex;
	flex-direction: row;
	justify-content: space-around;
}

#topnav{
	display: flex;
	justify-content: space-between;
}

#bgwavenobg{
	display: flex;
	flex-direction: row;
	align-items: center;
}

#bluebacker{
	background-color: hsl(192, 100%, 9%);
	width: 100%;
}

#footer{
	/*display: flex;
	flex-direction:  column;*/
}

#bottominfocontact{
	display: flex;
	flex-direction: row-reverse;
}

#subelement {
	display:flex;
	justify-content: flex-start;
	color:white;
}

#whitebardiv{
	padding-bottom: 50px;
	text-align: center;
	padding-left: 0px;
}

#whitebar{
	width: 500px;
	height: 95px;
	background-color: white;
	border-radius: 15px;
}

#subscribe{
	padding-left: 0px;
}

#subscribebtn {
	color: white;
	background-color: hsl(322, 100%, 66%);
	width: 300px;
	height: 100px;
	border-radius: 20px;
	border: none;
	font-size: 2em;
}

}


